<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference Rooms</title>
    <link rel="stylesheet" href="style.css">
</head>

<body background="background.jpg">
<table align="center" width="75%">
    <thead><td bgcolor="#deb887" colspan="2">
            <h1 align="center">Error!</h1>
    </td> </thead>
    <tr bgcolor="#d2b48c">
        <td align="center" colspan="2"><h3>{{ error_code }}</h3></td>
    </tr>
    <tr bgcolor="#d2b48c">
        <form action="{{ url }}" method="get">
            <td></td>
            <td align="right"><button type="submit">Back</button> </td>
        </form>
    </tr>
</table>
</body>
<div id="footer" align="center">
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</div>
</html>