{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/static/background.jpg");
        }

        footer {
		position:absolute;
		bottom:0;
		width:99.6%;
		height:30px;		/* Wysokość nagłówka */
		background:#CD7F32;
        text-align: center;
	}
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms</title>
</head>

{% load static %}
<body background="{% static 'static/background.jpg' %}">
<table align="center" width="75%">
    <thead><td bgcolor="#deb887" colspan="7">
            <h1 align="center">Conference Rooms</h1>
    </td> </thead>
    <tr bgcolor="#d2b48c">
        <td align="center" colspan="1"><h3> {{ date }} </h3></td>
        <td align="center" colspan="3"><h3><a href="{% url 'new_room' %}">Create room</a></h3></td>
        <td align="center" colspan="3"><h3><a href="{% url 'search' %}">Search</a></h3></td>
    </tr>
    <tr bgcolor="#d2b48c">
            {%  csrf_token %}
            <td align="center"><h3> Rooms: </h3></td>
        <td align="center" colspan="1" ><h3>Capacity</h3></td>
        <td align="center" colspan="1" ><h3>Available</h3></td>
        <td align="center" colspan="1" ><h3>Projector</h3></td>
        <td align="center" colspan="3" ><h3><form action=" " method="post">
            {%  csrf_token %}<button type="submit">Show only free rooms</button> </form> </h3></td>
    </tr>
    {% for room in rooms %}
    <tr bgcolor="#d2b48c">
        <td align="center"><h5><a href="{% url 'details' room.id %}"> {{ room.name }} </a></h5></td>
        <td align="center"><h5>{{ room.capacity }}</h5></td>
        {% if room.id in all_dates %}
        <td align="center"><h5> Busy </h5></td>
        {% else %}
        <td align="center"><h5> Free </h5></td>
        {% endif %}
        {% if room.projector == True %}
        <td align="center"><h5>Yes</h5></td>
        {% else %}
        <td align="center"><h5>No</h5></td>
        {% endif %}
        <td align="center" class="floated"><h5><form action="room/reserve/{{ room.id }}" method="get">
            <button type="submit">Book</button>
        </form> </h5></td>
        <td align="center"><h5><form action="room/modify/{{ room.id }}" method="get">
            <button type="submit">Edit</button>
        </form> </h5></td>
        <td align="center"><h5><form action="room/delete/{{ room.id }}" method="get">
            <button type="submit">Delete</button>
        </form> </h5></td>
    {% endfor %}
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>