<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
		position:absolute;
		bottom:0;
		width:99.6%;
		height:30px;		/* Wysokość nagłówka */
		background:#808080;
        text-align: center;
	}
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms</title>
</head>

{% load static %}
<body background="{% static 'conference/background.jpg' %}" alt="background_image">
<table align="center" width="75%" cellspacing="0" border="1" class="table">
    <thead><td bgcolor="#deb887" colspan="2">
            <h1 align="center">Conference Rooms - modify</h1>
    </td> </thead>
    <form action=" " method="post">
    {% csrf_token %}
        {%   for room in rooms %}
        <tr bgcolor="#d2b48c">
            <td align="center"><h6>Name (old name: {{ room.name }} )</h6></td>
            <td align="center"><h5><input type="text" maxlength="255" name="new_name"></h5></td>
        </tr>
        <tr bgcolor="#d2b48c">
            <td align="center"><h6>Capacity (old capacity: {{ room.capacity }} )</h6></td>
            <td align="center"><h5><input type="number" min="10" max="150" step="5" name="new_capacity"></h5></td>
        </tr>
        <tr bgcolor="#d2b48c">
            <td align="center"><h6>Projector: {{ room.projector }} </h6></td>
            <td align="center"><input type="checkbox" id="Yes" name="projector_yes">
                <label for="Yes">Yes</label>
                <input type="checkbox" id="No" name="projector_no">
                <label for="No">No</label></td>
        </tr>
        <tr bgcolor="#d2b48c">
            <td></td>
            <td align="center"><button type="submit">Edit</button></form>
            <form action="/index" method="get"><button type="submit">Back</button>
         </td>
        </tr>

        {% endfor %}
    </form>
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>