<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
		position:absolute;
		bottom:0;
		width:99.6%;
		height:30px;		/* Wysokość nagłówka */
		background:#CD7F32;
        text-align: center;
	}
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms- create</title>
</head>

{% load static %}
<body background="{% static 'conference/background.jpg' %}" alt="background_image">
<table align="center" width="75%" cellspacing="0" border="1" class="table">
    <thead>
    <td bgcolor="#deb887" colspan="2">
        <h1 align="center">Conference Rooms - create</h1>
    </td>
    </thead>
    <tr bgcolor="#d2b48c">
        <td align="center"><h3>List of rooms</h3></td>
        <td align="center"><h3>Create room</h3></td>
    </tr>
    <form action=" " method="post">
        {%  csrf_token %}
        <tr bgcolor="#d2b48c">
            <td align="center"><h5>Name</h5></td>
            <td align="center"><input type="text" name="room_name"></td>
        </tr>
        <tr bgcolor="#d2b48c">
            <td align="center"><h5>Capacity</h5></td>
            <td align="center"><input type="number" min="10" max="150" step="5" name="room_capacity"></td>

        </tr>
        <tr bgcolor="#d2b48c">
            <td align="center"><h5>Projector</h5></td>
            <td align="center"><input type="checkbox" id="Yes" name="projector_yes">
                <label for="Yes">Yes</label>
                <input type="checkbox" id="No" name="projector_no">
                <label for="No">No</label></td>
        </tr>
        <tr bgcolor="#d2b48c">
            <td></td>
            <td align="center">
                <button type="submit">Create room</button>
                </form>
                <form action="/index" method="get"><button type="submit">Back</button> </form>
            </td>

    </tr>
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>