<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
		position:absolute;
		bottom:0;
		width:99.6%;
		height:30px;		/* Wysokość nagłówka */
		background:#CD7F32;
        text-align: center;
	}
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms - reserve</title>
</head>

<body background="background.jpg">
<table align="center" width="75%">
    <thead><td bgcolor="#deb887" colspan="2">
        {% for room in room %}
            <h1 align="center">Book room {{ room.name }}</h1>
        {% endfor %}
    </td> </thead>
    <tr bgcolor="#d2b48c">
        <td align="center"><h3>List of rooms</h3></td>
        <td align="center"><h3>Create room</h3></td>
    </tr>
    <form action=" " method="post">
        {% csrf_token %}
    <tr bgcolor="#d2b48c">
        <td align="center" colspan="1"><h5><input type="text" maxlength="125" size="30" name="comment"><br>Enter a comment</h5></td>
        <td align="center" colspan="1"><h5><input type="date" name="date"></h5></td></tr>
    <tr bgcolor="#d2b48c">
        <td align="center"><h5>Future booking: <br> {{ booking}}</h5></td>
        <td style="white-space: nowrap" align="right"> <button type="submit">Book</button>
        </form>
            <form action="/index" method="get"><button type="submit">Back</button> </form></td>
    </tr>
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>