<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        footer {
		position:absolute;
		bottom:0;
		width:99.6%;
		height:30px;		/* Wysokość nagłówka */
		background:#CD7F32;
        text-align: center;
	}
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms - details</title>
</head>

{% load static %}
<body background="{% static 'conference/background.jpg' %}" alt="background_image">
<table align="center" width="75%" cellspacing="0" border="1" class="table">
    <thead><td bgcolor="#deb887" colspan="2">
            <h1 align="center">Conference Rooms</h1>
    </td> </thead>
    {% for room in rooms %}
    <tr bgcolor="#d2b48c">
        <td align="center" colspan="2"><h3>Room {{ room.name }} details</h3></td>
    </tr>

    <tr bgcolor="#d2b48c">
        <td align="center"><h5>Room name</h5></td>
        <td align="center" ><h5>{{ room.name }}</h5></td>
    </tr>
    <tr bgcolor="#d2b48c">
        <td align="center"><h5>Room capacity</h5></td>
        <td align="center" ><h5>{{ room.capacity }}</h5></td>
    </tr>
    <tr bgcolor="#d2b48c">
        <td align="center"><h5>Projector installed</h5></td>
        <td align="center" ><h5>{{ room.projector }}</h5></td>
    </tr>
    <tr bgcolor="#d2b48c">
        <td colspan="2" align="center"><h5>Future booking: <br> {{ booking}}</h5></td>
    </tr>
    <tr bgcolor="#d2b48c">
        <td align="center"  colspan="4" class="floated"><form action="/room/modify/{{ room.id }}" method="get">
            <button type="submit">Edit</button>
        </form>
        <form action="/room/delete/{{ room.id }}" method="get">
            <button type="submit">Delete</button>
        </form>
        <form action="/room/reserve/{{ room.id }}" method="get">
            <button type="submit">Book</button>
        </form>
        <form action="/index" method="get">
            <button type="submit">Back</button>
        </form></td>
    </tr>
    {% endfor %}
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>