<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        a{
            color: inherit;
        }
        .table a
        {
        display:block;
        text-decoration:none;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 99.6%;
            height: 30px; /* Wysokość nagłówka */
            background: #808080;
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms - search</title>
</head>

{% load static %}
<body background="{% static 'conference/background.jpg' %}" alt="background_image">
<table align="center" width="75%" cellspacing="0" border="1" class="table">
    <thead>
    <td bgcolor="#deb887" colspan="3">
        <h1 align="center">Conference Rooms</h1>
    </td>
    </thead>
    <tr bgcolor="gray">
        <td align="center" colspan="3"><h3>Results:</h3></td>
    </tr>
    <tr bgcolor="#d3d3d3">
        <td align="center"><h5>Name</h5></td>
        <td align="center"><h5>Capacity</h5></td>
        <td align="center"><h5>Projector</h5></td>
    </tr>
    {% for room in rooms %}
        {% if room.id not in busy %}
            <tr bgcolor="#d2b48c">
                <td align="center"><h5><a href="{% url 'details' room.id %}"> {{ room.name }} </a></h5></td>
                <td align="center"><h5>{{ room.capacity }}</h5></td>
                {% if room.projector == True %}
                    <td align="center"><h5>Yes</h5></td>
                {% else %}
                    <td align="center"><h5>No</h5></td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    <tr bgcolor="#d2b48c">
        <td align="center" colspan="3">
            <form action="/search" method="get">
                <button type="submit">Search again</button>
            </form>
            <form action="/index" method="get">
                <button type="submit">Back</button>
            </form>
        </td>
    </tr>
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>