<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .table a
        {
        display:block;
        text-decoration:none;
        }

        footer {
		position:absolute;
		bottom:0;
		width:99.6%;
		height:30px;		/* Wysokość nagłówka */
		background:#CD7F32;
        text-align: center;
	}
    </style>
    <meta charset="UTF-8">
    <title>Conference Rooms</title>
</head>

{% load static %}
<body background="{% static 'conference/background.jpg' %}" alt="background_image">
<table align="center" width="75%" cellspacing="0" border="1" class="table">
    <thead><td bgcolor="#deb887" colspan="2">
            <h1 align="center">Conference Rooms</h1>
    </td> </thead>
    <tr bgcolor="#d2b48c">
        <td align="center"><h3>List of rooms</h3></td>
        <td align="center"><h3>Create room</h3></td>
    </tr>
    {% for room in rooms %}
    <tr bgcolor="#d2b48c">
        <td align="center" colspan="2"><h5>{{ room.name }} {{ room.capacity }} {{ room.projector }}</h5></td>
    </tr>
    {% endfor %}
</table>
</body>
<footer>
    Author: Wojciech Łaska email:wojlas93@gmail.com All rights reserved
</footer>
</html>